body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.menu-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 15vh;
  background-color: black;
  
}
a{
  text-decoration: none;
}
a:hover{
  color: grey;
}
.list-1{
  color: #ffff;
  font-size: 28px;
  margin-left: 5px;
}
.list-2{
  color: #ffff;
  font-size: 28px;
  margin-left: 5px;
}
.menu-list{
  display: flex;
  flex-direction: row;
  
}
.menu-button{
  display: flex;
  flex-direction: row;
  
}
.btn-1{
  width: 300px;
  height: 50px;
  font-size: 24px;
  color: #ffff;
  background-color: #0000; 
  border-radius: 10px;
  border: 1px solid white;
}
.btn-2{
  width: 150px;
  height: 50px;
  margin-left: 5%;
  font-size: 24px;
  color: #ffff;
  background-color: #4C5FD5;
  border-radius: 10px;
}
.btn-2:hover{
  background-color: #ffff;
  color: black;
}


.header{
  
  font-size: 40px;
  text-align: center;
  margin-bottom: 5%;
  
}

::placeholder{
 font-size: 24px;
 padding: 15px;
}

.input-container{
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}
.wrapper{
  height: 80vh;
  width: 100%;
  background-color: #dadbf1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-field{
  width: 50%;
  height: 50px;
  border-radius: 10px;
  
}

.input-icon{
  position: absolute;
  left: 70%;
}
.input-field:focus{
  border: 2px solid #dadbf1;
}
.input-field:focus{
  outline: none;
}
.wrapper{
  display: flex;
}


 .wrapper-1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 14%;

  
}

.one-1{
  /* display: flex;   */
}
 .two-2{
  /* display: flex;  */
} 
.image{
  width: 140px;
  height: auto;

}
 .column{
  font-size: 18px;
  padding: 18px;
  
} 
.container{
  margin-top: 5%;
}
 .learn-more{
  margin-top: 8%;
  font-size: 20px;
  color: #4C5FD6;
} 
 .learn-more a:hover{
  text-decoration: underline;
  color: #D2A0D6;
} 
 
.text{
  font-size: 28px;
  font-weight: bold;
}
.container-cup{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: white;

}
.background{
  background-color: black;
  height: 300px;

}
.footer-2{
  color: #ffff;
  text-align: center;
  margin-top: 10%;
}
@media only screen and (max-width: 768px) {
  .btn-1{
    display: none;
  }
  .btn-2{
    display: none;
  }
  .container-cup{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
  
  }
  .background{
    background-color: black;
    height:600px;
  
  }
  .footer-2{
    text-align: center;
  }
}